@font-face {
	font-family: 'Stradivari script';
	src: url('../fonts/stradivari_script.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/stradivari_script.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/stradivari_script.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/stradivari_script.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/stradivari_script.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/stradivari_script.svg#stradivari_script') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'TArbat_tt';
	src: url('../fonts/tarbat_tt.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/tarbat_tt.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/tarbat_tt.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/tarbat_tt.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/tarbat_tt.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/tarbat_tt.svg#tarbat_tt') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Avdira Bold';
	src: url('../fonts/avdira_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avdira_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avdira_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avdira_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avdira_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avdira_bold.svg#avdira_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
:root{
    --back: white;
    --back-h1: linear-gradient(rgb(150, 0, 0),rgb(255, 143, 143));
    --back-h2: linear-gradient(rgb(56, 56, 56), rgb(141, 141, 141));
    --back-content: gainsboro;
    --border: 1px solid rgb(56, 56, 56);
    --back-button: rgb(184, 1, 1);
    --textTop: brown;
    --pre: 'TArbat_tt';
}
.cont{
    width: 100%;
    height: 100vh;
    background-color: rgb(56, 56, 56);
    position: fixed;
    overflow: scroll;
    font-family: 'Avdira Bold';
    display: grid;
}
.cont textarea {
    font-family: var(--pre);
    font-size: 1.3rem;

}
#box-logo{
    width: 100%;
    height: 100px;
    background: var(--back-h1);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'Stradivari script';
    color: white;
    font-size: 3.9rem;
}
header a {
    text-decoration: none;
    outline: none;
}
#box-logo img {
    width: 90px;
}
#box-header{
    display: grid;
    justify-items: center;
    width: 80%;
    min-width: 700px;
    height: 300px;
    background: var(--back);
    margin: 10px auto;
}
#menu{
    width: 98%;
    height: 30px;
    background: var(--back-h2);
    display: flex;
    justify-content: center;
    gap: 10px;
}
#menu a{
    color: white;
}
#menu a {
    outline: none;
    text-decoration: none;
}
#menu img{
    width: 15px;
    height: 15px;
    object-fit: cover;
}
.menu-text{
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: -3px;
}
.menu-text:hover{
    margin-bottom: 10px;
    text-shadow: 0px 0px 7px;   
}
.box-hello{
    width: 98%;
    height: 40px;
    background: var(--back-content);
    border: var(--border);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 15px;   
}
.box-hello b {
    color: var(--textTop);
}
#hello{
    margin-left: 10px;
    padding-right: 10px;
    border-right: 3px solid rgb(199, 199, 199)
}
#time {
    text-align: center;
    color: red;
    animation: rotate 2s infinite linear;
    -webkit-animation: rotate 2s infinite linear
}
@keyframes rotate {
    0% {
      -webkit-transform: scale(0.95);
    }
    50% {
      -webkit-transform: scale(1.02);
    }
    100% {
        -webkit-transform: scale(0.95);
    } 
}
.banner{
    width: 98%;
    height: 200px;
    background: var(--back-content);
    border: var(--border);
    font-size: 3rem;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    text-transform: uppercase;
}
.forum{
    display: grid;
    justify-items: center;
    width: 80%;
    min-width: 700px;
    background: var(--back);
    margin: -10px auto;
    gap: 10px;
}
.forum__box{
    display: grid;
    justify-items: center;
    width: 100%;
    min-width: 700px;
    background: var(--back);
    gap: 10px;
}
.pb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    padding: 0 5%;
    z-index: 1;
}
#page{
    font-size: 1rem; 
}
#page span {
    margin-bottom: -12px;
}
.pb input[type="button"]{
    background: var(--back-button);
    border-radius: 10px;
    border: none;
    color: white;
    width: 150px;
    height: 30px;
}
.pb input[type="button"]:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px rgb(122, 32, 32);

}
.pb input[type="button"]:active{
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px  rgb(122, 32, 32);
}
.pagination{
    display: flex;
    gap: 10px;
    z-index: 1;
}
.pagination_a{
    width: 30px;
    height: 30px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--back-button);
    border-radius: 4px;
    box-shadow: 0px 3px 0px rgb(122, 32, 32);
    outline: none;
    text-decoration: none;
}
.pagination_a:hover {
    color: white;
}
.pagination a:first-child{
    width: 40px;
}
.pagination a:last-child{
    width: 40px;
}
.pagination a:active {
    box-shadow: inset -3px -3px 7px rgb(143, 66, 66), inset 3px 3px 5px rgb(34, 7, 7);
    transform: translateY(1px) translateX(1px);
    color: black;
    text-decoration: none;
}
.pagination a:hover {
    color: black;
}
.activePage{
    width: 30px;
    height: 30px;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: var(--back-button);
    border-radius: 3px;
    box-shadow: 2px 2px 0px rgb(122, 32, 32);
    box-shadow: inset -3px -3px 7px rgb(143, 66, 66), inset 3px 3px 5px rgb(34, 7, 7);
    transform: translateY(2.5px);
    color: black;
    text-decoration: none;
}
.pagination span{
    font-size: 1.9rem;
    color: var(--back-button);
}
#anchor1 span {
    margin-bottom: -12px;
}
.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.pagination__answer {
    margin-bottom: 20px;
    padding: 0 20px 0 17px;
    display: flex;
}
.pagination__answer button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid #494a4f;
    border-radius: 3px;
    border: none;
    width: 20px;
    height: 20px;
    display: grid;
    align-content: center;
    justify-content: center;
}
.pagination__answer button.active {
    background-color: var(--back-button);
    color: white;
}
.forum__info{
    width: 98%;
    border: var(--border);
}
.forum__info__add{
    width: 98%;
    border: var(--border);
}
.forum-h1{
    background: var(--back-h1);
    width: 100%;
    height: 30px;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 1.1rem;
}
.forum-h1 img{
    width: 13px;
    height: 13px;
    object-fit: cover;
}
.forum-h2{
    width: 100%;
    height: 20px;
    background: var(--back-h2);
    display: grid;
    grid-template-columns: 50% 10% 10% 30%;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    text-shadow: 0 0 2px black;
    letter-spacing: 1px;
    font-weight: normal;
}
.forum__content{
    display: grid;
    grid-template-columns: 5% 45% 10% 10% 30%;
    align-items: center;
    background: var(--back-content);
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.forum__content img{
    width: 27px;
    height: 27px;
    margin: 0 auto;
}
.forum-top a{
    color: brown;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    outline: none;
    text-decoration: none;
}
.forum-top a:hover{
    text-shadow: 0 0 10px brown;
    color: var(--textTop); 
}
.forum-topic a{
    font-size: .9rem;
}
.total-top, .total-msg{
    text-align: center;
    font-size: 0.9rem;
}
.forum-des, .last-msg{
    font-size: 0.9rem;
}
.last-msg b {
    color: var(--textTop);
}
.box-footer{
    width: 80%;
    min-width: 700px;
    background: var(--back);
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 12px
}
.stat{
    width: 98%;
    margin: 0 auto;
    border: var(--border);
    background: var(--back-content);
}
.stat-text{
    padding-top: 10px;
    font-size: 0.9rem;
    line-height: 23px;
    display: grid;
    grid-template-columns: 5% 50% 45%;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.stat-text b {
    color: var(--textTop);
}
.stat-text img{
    width: 27px;
    height: 27px;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0 auto;
}
#stat-users{
    text-align: end;
    margin-right: 10px;
}
#stat-online{
    grid-row: 2/3;
    grid-column: 2/4;
    border-top: 1px solid rgb(192, 192, 192);
    margin-right: 10px;
    padding-top: 7px;
    margin-top: -10px;
}
.line{
    width: 98%;
    height: 3px;
    background: black;
    margin: 10px auto;
}
.foo{
    width: 98%;
    height: 100px;
    margin: 10px auto;
    background: var(--back-h1);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 30px 0 30px;
    font-size: 1.1rem;
    text-shadow: 0 0 10px black;
    line-height: 25px;
    border: var(--border);
}
.last-msg-top{
    overflow: hidden;
    height: 20px;
    line-height: 21px;
}

/* //////////////Регистрация////////////////////////////////////////////////////////////////////////////////////////*/

#modalBackSignup{
    background:#00000066;
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    display:none;
    align-content:center;
    justify-content:center;
    opacity:0%;
    transition:1s;
    backdrop-filter:blur(2px);
    color: white;
}
#modalSignup{
    width: 400px;
    height: 300px;
    background: var(--back-h1);
    display: grid; 
    justify-items: center;  
    align-items: center; 
    border-radius: 15px;
    transform: scale(0) rotate(0);
    transition: 1.5s;
    box-shadow: 0 0 30px black;
}
#modalSignup h2 {
    font-size: 1.4rem;
}
#modalSignup input{
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background: gainsboro;
}
#modalSignup input:hover{
    background: white;
    box-shadow: 0 0 7px white;
}
#modalSignup input[type="submit"]{
    background: var(--back-button);
    color: white;
    width: 150px;
    margin-left: 25%;
    padding-left: 0px;
}
#modalSignup input[type="submit"]:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px rgb(122, 32, 32);

}
#modalSignup input[type="submit"]:active{
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px  rgb(122, 32, 32);
}
.error {
    height: 50px;
    width: 500px;
    background: black;
    position: fixed;
    margin-top: 40vh;
    margin-left: 35vw;
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: 0 0 20px white;
    border-radius: 10px;
    color: cyan;
}

/* ////////////Авторизация///////////////////////////////////////////////////////////////////////////////////// */

#modalBackLogin{
    background:#00000066;
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    display:none;
    align-content:center;
    justify-content:center;
    opacity:0%;
    transition:1s;
    backdrop-filter:blur(2px);
    color: white;
}
#modalLogin{
    width: 400px;
    height: 250px;
    background: var(--back-h1);
    display: grid; 
    justify-items: center;  
    align-items: center; 
    border-radius: 15px;
    transform: scale(0) rotate(0);
    transition: 1.5s;
    box-shadow: 0 0 30px black;
}
#modalLogin h2 {
    font-size: 1.4rem;
}
#modalLogin input{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background: gainsboro;
}
#modalLogin input:hover{
    background: white;
    box-shadow: 0 0 7px white;
}
#modalLogin input[type="submit"]{
    background: var(--back-button);
    color: white;
    width: 150px;
    margin-left: 25%;
    padding-left: 0px;
}
#modalLogin input[type="submit"]:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px rgb(122, 32, 32);

}
#modalLogin input[type="submit"]:active{
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px  rgb(122, 32, 32);
}
.close{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: grid;
    justify-content: center;
    margin-left: 85%;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.3rem;
}

/* /////////////////////Message.php/////////////////////////////////////////////////////////////////// */

#editMsgBack, #quotingMsgBack, #delMsgBack, #delThemeBack {
    background:#00000066;
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    display:none;
    align-content:center;
    justify-items: center;
    opacity:0%;
    transition:1s;
    backdrop-filter:blur(2px);
    color: white;
    z-index: 2;
}
#modalEdit, #modalQuoting, #modalDel, #modalDelTheme {
    display: grid; 
    width: 70%;
    justify-items: center;  
    align-items: center; 
    transform: scale(0);
    transition: 1.5s;
    color: black;
    font-size: 1.1rem;
    z-index: 2;
}
.buttDel {
    text-align: center;
}
.buttDel>input {
    margin-top: 5px;
}
#modalEdit input, #modalQuoting input{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    background: gainsboro;
}
#modalEdit input:hover, #modalQuoting input:hover{
    background: white;
    box-shadow: 0 0 7px white;
}
#modalEdit input[type="submit"], #modalQuoting input[type="submit"]{
    background: var(--back-button);
    color: white;
    width: 150px;
    margin: 0px;
    font-size: 1.1rem;
}
#modalEdit input[type="submit"]:hover, #modalQuoting input[type="submit"]:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px rgb(122, 32, 32);

}
#modalEdit input[type="submit"]:active, #modalQuoting input[type="submit"]:active{
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px  rgb(122, 32, 32);
}
#modalEdit textarea, #modalQuoting textarea{
    width: 100%;
    height: 300px;
}
.closeH1 {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.closeEdit, .closeQuoting{
    cursor: pointer;
}
.cont-message{
    display: grid;
    background: var(--back-content);
    grid-template-columns: 200px 1fr;
    font-size: .8rem;
    padding: 10px;
}
.message{
    margin-bottom: -10px;
}
.edit{
    grid-column: 2/3;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-right: 2%;
}
.text-edit{
    cursor: pointer;
    color: brown;
}
.text-edit:hover{
    color: gray;
}
blockquote {
    margin: 0;
    padding: 40px;
    color: #3F484D;
    position: relative;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
blockquote:before, blockquote:after {
    font-size: 45px;
    color: brown;
    position: absolute;
    height: 2px;
    left: 40px;
    right: 40px;
    line-height: .5;
    background: linear-gradient(to right, brown 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, brown 55%);
    font-family: serif;
}
blockquote:before {
    content: "\201C";
    top: 30px;
}
blockquote:after {
    content: "\201D";
    bottom: 30px;
}
blockquote p {
    padding: 20px;
    height: 150px;
    overflow-y: scroll;
    font-size: 1rem;
    text-align: start;
}
.user{
    color: brown;
    font-size: 1rem;
    text-shadow: 0 0 5px brown;
}
.profile img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin: 10px 0 10px 0;
}
.info{
    line-height: 1.5;
    font-size: .8rem;
}
.answer{
    background: var(--back-content);
    padding: 10px;
    z-index: 1;
}
.answer textarea{
    width: 100%;
    height: 200px;
    margin: 10px 10px 20px 0px;
    background: rgb(250, 250, 250);
    padding: 10px;
    background: rgb(247, 247, 247);
    font-size: 1.2rem;
    border: var(--border);
}
.answer textarea:hover{
    background: white;
}
.answer textarea:focus{
    background: white;
    text-decoration: none;
}
.answer input[type="submit"],.answer input[type="button"]{
    background: var(--back-button);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 30px; 
    border-radius: 10px;
    border: none;
    margin-right: 20px;
}
.answer input[type="submit"]:hover, .answer input[type="button"]:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px rgb(122, 32, 32);
}
.answer input[type="submit"]:active, .answer input[type="button"]:active{
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px  rgb(122, 32, 32);
}
#comment{
    box-shadow: 0;
}
#smile{
    width: 100%;
    border: var(--border);
    background: white;
    margin: 10px 0 0 0;
    padding: 10px;
    transform: scale(2);
}
#smile img:hover{
    cursor: pointer;  
}
.pre {
    margin-top: 5px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
    font-size: 1.2rem;
    text-indent: -377px;
    overflow: hidden;
    margin: 0;
    font-family: var(--pre);
}
.editMsg{
    margin: 5px 10px 15px 0px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/
    font-size: 1.2rem;
    text-indent: 0px;
    font-family: var(--pre);
}
div[unselectable="on"] {
    overflow: hidden;
}
div[unselectable="on"] > span {
    display: block;
    float: left;
    margin: 0px 6px 6px 0;
    font-size: 20px;
}
.select__text {
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: .9rem;
    display: grid;
    align-items: center;
    grid-template-columns: 100px 20px;
    cursor: pointer;
}
.box__modal {
    display: none;
    overflow-y: scroll;
    max-height: 400px;
    margin-bottom: 15px;
}
.box__quoting {
    background: white;
    margin: 5px 15px 10px 2px;
    padding: 5px 10px;
    line-height: 25px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
    font-size: .9rem;
}
.box__quoting span {
    font-family: var(--pre);
    font-size: 1.1rem;
}
.bi-x {
    color: red;
    cursor: pointer;
    float: right;
}
.bi-x:hover {
    color: blue;
}
.modal__quoting{
    cursor: pointer;
    font-size: 1rem;
}
.cont__open {
    display: grid;
}


/* /////////////////new_theme.php//////////////////////////////////////////////////////////////////////////// */

.cont_new_theme{
    background: var(--back-content);
    display: grid;
    padding: 10px; 
}
#themeName {
    box-shadow: 0;
}
#msg {
    box-shadow: 0;
}
.create_theme input, .create_theme textarea{
    margin: 10px 0 10px 0;
    width: 100%;
    padding: 10px;
    border: var(--border);
    background: rgb(247, 247, 247);
}
.create_theme input:hover, .create_theme textarea:hover{
    background: white;
}
.create_theme input:focus, .create_theme textarea:focus{
    background: white;
}
.create_theme input[type="submit"], .create_theme input[type="button"]{
    background: var(--back-button);
    border: none;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 30px;
    padding: 0;
    margin: 0 0 0 0;
}
.create_theme input[type="submit"]:hover, .create_theme input[type="button"]:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px rgb(122, 32, 32);

}
.create_theme input[type="submit"]:active, .create_theme input[type="button"]:active{
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px  rgb(122, 32, 32);
}

/* ////////////////////////profile.php////////////////////////////////////////////////////////////////////////////// */

.profile__user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 20px;
    align-items: center;
    background: var(--back-content);
    padding-top: 10px;
    padding-bottom: 10px ;
    line-height: 2;
    gap: 30px;

}
.profile__user b {
    color: brown;
}
#ava {
    width: 150px;
}
.avatar{
    display: grid;
    align-items: center;
    justify-items: end;
}
.avatar img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.profile__user input[type="submit"]{
    background: var(--back-button);
    border: none;
    border-radius: 7px;
    color: white;
    width: 130px;
    height: 25px;
    font-size: .8rem;
}
.profile__user input[type="submit"]:hover{
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px rgb(122, 32, 32);
}
.profile__user input[type="submit"]:active{
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px  rgb(122, 32, 32);
}
.profile__user form{
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.input__file {
	display: inline-block;
}
.input__file span {
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 13px;
	vertical-align: middle;
	color: white;
	text-align: center;
	border-radius: 7px;
	background: var(--back-button);
	line-height: 5px;
	height: 25px;
	padding: 10px 20px;
	border: none;
	margin: 0;
}
.input__file input[type="file"]{
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.input__file input[type="file"]:hover,.input__file span:hover{
    transform: translateY(-3px);
    box-shadow: 0px 5px 0px rgb(122, 32, 32);
}
.input__file input[type="file"]:active,.input__file span:active{
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px  rgb(122, 32, 32);
}
form img{
    width: 50px;
}
.rules{
    background: var(--back-content);
    padding: 10px;
}
#rulesText{
    text-indent: 0;
    overflow: hidden;
    display: grid;
}
.page111{
    display: flex;
    justify-content: start;
 }
 .pagination__list{
    display: flex;
    list-style-type: none;
    padding: 0;
 }
 .pagination__item{
    flex: 1;
    margin: 0px 5px;
    background: #dde1e7;
    border-radius: 3px;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, 0.288);
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    color: #4d3252;
    height: 35px;
    width: 35px;
    line-height: 45px;
 }
 .pagination__item--active{
    font-weight: 800;
    box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
    font-size: 17px;
    color: #6f6cde;
 }

 /* 404 page */

 #oopss {
    background: var(--back-h1);
    position: fixed;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5em;
    z-index: 9999;
 }
#error-text {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Avdira Bold';
    color: #000;
    direction: rtl;
}
#erro-text img {
    margin: 85px auto 20px;
    height: 342px;
}
#error-text span {
    position: relative;
    font-size: 3.3em;
    font-weight: 900;
    margin-bottom: 50px;
}
#error-text p {
    font-size: 1.5rem;
    margin: 30px 0 15px 0;
}
#error-text a {
    background: #fff;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    margin: 2em auto 0;
    padding: .7em 2em;
    border-radius: 500px;
    box-shadow: 0 20px 70px 4px rgba(0, 0, 0, 0.1), inset 7px 33px 0 0px rgb(255, 143, 143);
    font-weight: 900;
    transition: all 300ms ease;
} 
#error-text a:hover {
    transform: translateY(-13px);
    box-shadow: 0 35px 90px 4px rgba(0,0,0, .3), inset 0px 0 0 3px #000;
}
